@using AYZ8R9_SOF_202231.Model;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Scrum_master")))
{
       <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Promote">Manage Developers</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="EditProfilePic">Edit profile picture</a>

}

