@using AYZ8R9_SOF_202231.Controllers;
@using AYZ8R9_SOF_202231.Model
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager

<div>
    <h2>Your Current Profile Picture:</h2>
    <img class="img" id="logimg" src="@Url.Action("GetImage","Home", new {userid = @UserManager.GetUserId(User)})" onerror="alternative()" />
</div>
<form method="post" enctype="multipart/form-data" action="EditProfilePicAction">
    <div class="form-floating-Imagein">
        <input hidden type="text" name="userid" value="@UserManager.GetUserId(User)" />
        <label>Upload file:</label>
        <br />
        <input type="file" name="photoUpload" />
    </div>
    <input type="submit" class="w-100 btn btn-lg btn-primary" value="Change" />
</form>
