@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <h2 class="about-Us">About the creators of this project</h2>
    <br />

    <div class="idx_flexbox">

        <div class="idx_flexbox_content">
            <h5 class="card-title">Bárdosi Bálint György</h5>
            <p class="pin_idxbox">Email: bbalintv@gmail.com</p>
            <p class="pin_idxbox">Neptun: AYZ8R9</p>
        </div>

        <div class="idx_flexbox_content">
            <img class="homepagePicture" src="Logo/Scrummer2.png" />
        </div>

        <div class="idx_flexbox_content">
            <h5 class="card-title">Salamin Bence</h5>
            <p class="pin_idxbox">Email: bene.salamin@gmail.com</p>
            <p class="pin_idxbox">Neptun: GH2TOD</p>
        </div>

    </div>


</div>