.pa {
    text-decoration:none;
    color:black;
}

    .pa:hover{
        color:white;
    }

.card {
    background-color:lightgray;
    font-size:110%;
    margin-bottom: 1%;
}

#users {
    font-size:80%;
    margin-left:2.5%;
}
