html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.pin_idxbox {
    margin: 3px;
    padding: 3px;
}
.form-floating {
    padding:10px;
}
.idx_flexbox {
    text-align: center;
    align-self: center;
    justify-content: center !important;
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 500px;
}

.idx_flexbox_content {
    width: 400px;
    height: 400px;
    text-align: center !important;
    align-content: center;
    align-self: center !important;
    margin:auto;
}
.form-floating-Imagein {
margin: 10px;
padding: 5px;
align-content: center;
}
img {
    max-width: 100%;
    max-height: auto;
    width: 250px;
    height: 250px;
}
.nav-hellobar-img {
    width: 50px;
    height: 50px;
    image-rendering: auto;
    border-radius: 50px;
}
.nav-hellobar {
    text-align: center;
    justify-content: center;
    display: flex;
}
.nav-link text-dark {
    text-align: center;
    offset-distance: 10%;
}
.list-group {
    display: flex;
    margin: 50px;
    padding 50px;
}
.h2tomid {
    align-content: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1rem; /* Footer height */
}

.homepagePicture{
    width:100%;
    height:50%;
    margin-top:2%;
}

