.sprintTable {
    text-align:center;
}

.ps {
    text-decoration: none;
    color: black;
}

.ps:hover {
    color: white;
}

table {
    width:100%;
    margin-bottom: 2%;
}

.sprintButton{
    width:100%;
    margin-bottom:2%;
}

.sprintButton:hover{
    color:white;
    border:none;
}